[submodule "uvsmtid.vagrant-boxes"]
	path = uvsmtid.vagrant-boxes
	url = https://github.com/uvsmtid/vagrant-boxes.git
[submodule "vagrant-libvirt.vagrant-libvirt"]
	path = vagrant-libvirt.vagrant-libvirt
	url = https://github.com/vagrant-libvirt/vagrant-libvirt.git
[submodule "sciurus.vagrant-mutate"]
	path = sciurus.vagrant-mutate
	url = https://github.com/sciurus/vagrant-mutate.git
[submodule "sciurus.vagrant-environment"]
	path = sciurus.vagrant-environment
	url = https://github.com/sciurus/vagrant-environment.git
[submodule "geerlingguy.packer-centos-6"]
	path = geerlingguy.packer-centos-6
	url = https://github.com/geerlingguy/packer-centos-6.git
[submodule "boxcutter.fedora"]
	path = boxcutter.fedora
	url = https://github.com/boxcutter/fedora.git
[submodule "boxcutter.ubuntu"]
	path = boxcutter.ubuntu
	url = https://github.com/boxcutter/ubuntu.git
[submodule "boxcutter.debian"]
	path = boxcutter.debian
	url = https://github.com/boxcutter/debian.git
[submodule "boxcutter.centos"]
	path = boxcutter.centos
	url = https://github.com/boxcutter/centos.git
